html,body { height: 100%; margin: 0; }

#app {
    height:100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(0, 1fr) repeat(24, 1fr);
    background-color: rgb(52,58,64);
}