@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.NavBar{
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: rgb(52,58,64);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(153,156,159)
}

.NavBar > * {
    flex-basis: 20%;
}

.logo {
    cursor: pointer;
    object-fit: contain;
    max-height:100%;
    margin:0px;
    overflow: hidden;
}
.nav__link:link, .nav__link:visited{
    text-decoration: none;
    color: grey;
}

.nav__link:hover {
   background-color: #555;
}
.nav__links {
    flex: 1;
    display:flex;
    list-style:none;
    justify-content: space-between;
}
.nav__links .nav__link{
    
}

.contact{
    text-align: center;
}

button {
    object-fit: contain;
    max-height:100%;
    background-color: lightblue;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
    }